<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Amazon Shopping</title>
<body style='background-color: #eae6e6;'>
<table align='center' style='text-align: center; margin-top: 30px; background-color: white; max-width: 480px;border-top: 20px solid #eae6e6;'>
	<tbody>
		<tr>
            <td style='margin: 10px; padding: 10px;'><p style='padding: 10px 35px;font-size: 23px;font-weight: 600;'>
                Hi, <b style='color:#030768;'>{{userName}}</b> Welcome here!</p></td>
		</tr>
		<tr>
            <td style='margin: 10px; padding: 10px;'>
                <p style='padding: 10px 35px;font-size: 18px;font-weight: 600;'>
                       {{purpose}}</p></td>
		</tr>
		<tr>
            <td style='margin: 15px 20px; padding: 15px;'><a href={{url}}/2 target='_blank' 
                style='background-color: #2fb8f1; padding: 15px; margin: 30px 10px; color: white; text-transform: uppercase; text-decoration: none; border-radius: 30px;'>
               {{subject1}}
            </a></td>
		</tr>{{subject2}}
		<td style='margin: 10px; padding: 30px 20px;'><p style='color: red;'>Note that this link will be available for only 1 hour</p></td>
		
	</tbody>
	
</table>
<table align='center' style='text-align: center; margin-top: 20px; margin-bottom: 30px; max-width: 450px;'>
	<tbody>
		<tr>
            <td style='color:#87878a;font-size:14px;line-height:20px;vertical-align:top;'> 
                <p style="margin: 10px 0; padding: 0; padding-top: 20px; mso-line-height-rule: exactly; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #AAAAAA; font-family: Helvetica; font-size: 13px; line-height: 150%; text-align: center;">
					Button doesn't work? Paste the following link in
					your browser: <br /> <span th:text="@{${link}}"></span>
				</p> </td>
		</tr>
		
	</tbody>
	
</table>
</body>
</html>