<html>
    <head>
        
    </head>
<body style='background-color: #eae6e6;'>
<table align='center' style='text-align: center; margin-top: 30px; background-color: white; max-width: 480px;border-top: 20px solid #eae6e6;'>
	<tbody>
		<tr>
            <td style='margin: 10px; padding: 10px;'><p style='padding: 10px 35px;font-size: 23px;font-weight: 600;'>
                Hi, <b style='color:#030768;'>{{userName}}</b> Welcome here!</p></td>
		</tr>
		<tr>
            <td style='margin: 10px; padding: 10px;'>
                <p style='padding: 10px 35px;font-size: 18px;font-weight: 600;'>
                       {{purpose}}</p></td>
		</tr>
		<tr>
            <td style='margin: 15px 20px; padding: 15px;'>
                <a href={{url}}/0 target='_blank' 
                    style='background-color: #2fb8f1; padding: 15px; margin: 30px 10px; color: white; text-transform: uppercase; text-decoration: none; border-radius: 30px;'>
                Accept
            </a>
            <a href={{url}}/1 target='_blank' 
                style='background-color: #ff5a6b; padding: 15px; margin: 30px 10px; color: white; text-transform: uppercase; text-decoration: none; border-radius: 30px;'>
               Reject
            </a>
        </td>
		</tr>
		<td style='margin: 10px; padding: 30px 20px;'><p style='color: red;'>Note that this link will be available for only 1 hour</p></td>
		
	</tbody>
	
</table>
<table align='center' style='text-align: center; margin-top: 20px; margin-bottom: 30px; max-width: 450px;'>
	<tbody>
		<tr>
            <td style='color:#87878a;font-size:14px;line-height:20px;vertical-align:top;'> 
                You are receiving this email because you registered on 
                <a href='https://chat2io.herokuapp.com/' style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#2fb8f1 !important;mso-line-height-rule:exactly;text-decoration:none;' target='_blank'>
                    <span style='color:#2fb8f1'>Chat App</span></a> and subscribed to receive email updates about Changemakers users and ideas. To manage your notifications go to
                     <a href='https://chat2io.herokuapp.com/' style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#2fb8f1 !important;mso-line-height-rule:exactly;text-decoration:none;' target='_blank'>
                        <span style='color:#2fb8f1'>https://chat2io.herokuapp.com/</span></a>. </td>
		</tr>
		
	</tbody>
	
</table>
</body>
</html>